$bloc-width: 800px;
$border-color: #D2D2D2;
$button-bg: #0074c7;

.bloc_artisan {
  width: $bloc-width;
  display: flex;
  margin: 0 auto;

  @media screen and (max-width: 800px) {
    display: block;
    width: 400px;
  }
}

.detail_artisan, .formulaire {
  border: 1px solid $border-color;
  border-radius: 5px;
  width: 50%;
  margin: 10px;
  padding: 20px;

  @media screen and (max-width: 800px) {
    width: 400px;
  }
}

input {
  width: 325px;
}

body button {
  background-color: $button-bg;
  color: white;
  width: 100px;
  border-radius: 30px;
}