.bloc_artisan {
  width: 800px;
  display: flex;
  margin: 0 auto;
}
@media screen and (max-width: 800px) {
  .bloc_artisan {
    display: block;
    width: 400px;
  }
}

.detail_artisan, .formulaire {
  border: 1px solid #D2D2D2;
  border-radius: 5px;
  width: 50%;
  margin: 10px;
  padding: 20px;
}
@media screen and (max-width: 800px) {
  .detail_artisan, .formulaire {
    width: 400px;
  }
}

.nom, .objet {
  width: 325px;
  margin-bottom: 10px;
}

body button {
  background-color: #0074c7;
  color: white;
  width: 100px;
  border-radius: 30px;
  border: none;
}


