@font-face {
  font-family: "Grafik";
  src: url("../fonts/GraphikRegular.woff") format("woff"), 
       url("../fonts/GraphikRegular.ttf") format("truetype");
}

*{
  font-family: "Grafik", sans-serif;
}

body .bg-body-tertiary{
  background-color: #f1f8fc;
}

body .textLink, address{
  color: white;
}

body .textLink:hover{
  text-decoration: underline;
  color: white;
}

body h1, body h2, body h3{
  color: #00497c;
}

body p{
  color: #384050;
}

.image_menu{
    width: 200px;
}

input{
border: none;
border-bottom: 1px solid #384050;
}

body .menuLink:active,
body .menuLink:focus,
body .menuLink:hover{
  color: #0074c7;
  opacity: 0.8;
}

.lign{
  width: 500px;
  height: 2px;
  background-color: white;
  margin: auto;
  margin-bottom: 20px;
}

.container_footer{
  background-color:#0074c7;    
}

.container_address{
  width: 200px;
  margin: 0 auto;
  padding-top: 20px;
}

.text_titre{
  color: white;
  font-weight: bold;
}
.text_adresse{
  color: white;
  text-indent: 15px;
  margin: 0;
}

/*--- page en maintenance ---*/
.container_404,
.container_mention, 
.container_donneePersonnelle, 
.container_cookies, 
.container_accessibilite{
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  justify-content: center;
}
/*---------------------------*/